@font-face {
    font-family: 'NeueMachina';
    src: url(public/Fonts/NeueMachina.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Bg-colors */
    --primary: hsl(22, 100%, 68%);
    --bg-dark: hsl(0, 0%, 0%);
    --bg: hsl(0, 0%, 5%);
    --bg-light: hsl(0, 0%, 10%);
    /* Texts */
    --text-primary: hsl(22, 100%, 50%);
    --text: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 70%);
    /* Border-color */
    --border: 2px solid hsl(0, 0%, 30%);
    /* Gradients */
    --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
    --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
    --highlight: hsl(0, 0, 60%);
    /* Shadows */
    --shadow: 0 2px 2px hsla(0, 0%, 10%, 0.05), 0 4px 4px hsla(0, 0%, 10%, 0.15);
}

body.light {
    /* Bg-colors */
    --primary: hsl(22, 100%, 68%);
    --bg-dark: hsl(0, 0%, 90%);
    --bg: hsl(0, 0%, 95%);
    --bg-light: hsl(0, 0%, 100%);
    /* Texts */
    --text-primary: hsl(22, 100%, 50%);
    --text: hsl(0, 0%, 5%);
    --text-muted: hsl(0, 0%, 30%);
    /* Border-color */
    --border: 2px solid hsl(0, 0%, 70%);
    /* Gradient */
    --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
    --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
    --highlight: hsl(0, 0, 60%);
    /* Shadows */
    --shadow: 0 2px 2px hsla(0, 0%, 10%, 0.05), 0 4px 4px hsla(0, 0%, 10%, 0.15);
}

*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: var(--bg-light);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--text-primary);
    border-radius: 2px;
}

body {
    background: var(--bg-dark);
    color: var(--text);
    transition: background 0.3s ease, color 0.3s ease;
    font-family: 'NeueMachina', sans-serif;
}

.glassmorphic {
    backdrop-filter: blur(10px);
    background-color: rgba(var(--bg), 0.5);
    border: 1px solid rgba(var(--border), 0.2);
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    /* background: linear-gradient(120deg, transparent, hsl(22, 100%, 50%) / 0.5, transparent); */
    pointer-events: none;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

/* Custom padding classes (if Tailwind's are not working) */
.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.px-16 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.pb-6 {
    padding-bottom: 1.5rem;
}

.p-2 {
    padding: 0.5rem;
}

.p-4 {
    padding: 1rem;
}

.p-6 {
    padding: 1.5rem;
}

.p-8 {
    padding: 2rem;
}

.p-12 {
    padding: 3rem;
}

/* Generate Margin classes */
.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx-8 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.mx-12 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.m-4 {
    margin: 1rem;
}

.m-2 {
    margin: 0.5rem;
}

.mr-4 {
    margin-right: 1rem;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.mb-12 {
    margin-bottom: 3rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.mt-12 {
    margin-top: 3rem;
}

.mt-16 {
    margin-top: 4rem;
}
